<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke-Build</title>

    {{!-- Tab Icon --}}
    <link rel="shortcut icon" type="image/x-icon" href="https://fontmeme.com/permalink/200613/035d6ff9ab3c230a4f302cfee7158c17.png"/>

    {{!-- Google fonts link --}}
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    {{!-- Bootstrap link --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{!-- Font Awesome link --}}
    <script src="https://kit.fontawesome.com/0a5e91de56.js" crossorigin="anonymous"></script>

    {{!-- css stylesheet --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img id="pokeBuildLogo" src="https://fontmeme.com/permalink/200613/32cb5b2cee8d36534c828314732e972d.png" alt="Poke-Build logo"></a>
        <div class="dropdown">
            <button class="signIn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="userNameText"></span><i class="fas fa-user"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-right userBtn" aria-labelledby="dropdownMenuButton"></div>
        </div>
    </nav>

    {{{ body }}}

    <footer>
        <p>Made with <img id="heartEmoji" src="https://clipartart.com/images/8-bit-heart-clipart-6.png" alt="Heart emoji"> from the <img id="dreamTeamLogo" src="https://fontmeme.com/permalink/200609/60085fab2c4ed64dfdb9b39fda05db09.png" alt=""></p>
    </footer>
</body>
</html>