<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Tab Icon --}}
    <link rel="shortcut icon" type="image/x-icon" href="https://fontmeme.com/permalink/200609/cc3ec15ba56b691e1823efa2d1914c7f.png"/>
    <title>Dream Team</title>

    {{!-- Jquery Link --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- Bootstrap Link --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>Hello world!</h1>
</body>
</html>