<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Team</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <h1>Hello world!</h1>
</body>
</html>