<div class="container-xl">
    <div class="row buttonRow">
        {{!-- View All Pokemon --}}
        <div class="col-lg-4 d-flex flex-column justify-content-center">
            <img src="https://webstockreview.net/images/pikachu-clipart-lightning-13.gif" alt="Picture of Pikachu" class="indexImg">
            <a href="" class="viewAll"><img src="https://fontmeme.com/permalink/200612/d62ce88d13688f6b20735ce0e0a88514.png" alt="View All Pokemon"></a>
        </div>

        {{!-- View Your Pokemon --}}
        <div class="col-lg-4 d-flex flex-column justify-content-center">
            <img src="/img/charamander.png" alt="Picture of 16bit Charamander" class="indexImg">
            <a href="/" class="viewYour"><img src="https://fontmeme.com/permalink/200612/c2c6bfc94353a13d8d3b6c86b904134c.png" alt="View Your Pokemon"></a>
        </div>

        {{!-- Create New Pokemon --}}
        <div class="col-lg-4 d-flex flex-column justify-content-center">
            <img src="/img/vaporeon.png" alt="Placeholder" class="indexImg">
            <a href="/pixel" class="createNew"><img src="https://fontmeme.com/permalink/200612/97310e0107c8fb651a189bcbb52ea562.png" alt="Create a Pokemon"></a>
        </div>
    </div>

    {{!-- Search row --}}
    <div class="row searchRow">
        <div class="col-lg-12">
            <img src="https://fontmeme.com/permalink/200611/65ca505017db3f3ecf7d7fcd3f743e02.png" alt="Search for Pokemon" class="searchFor">

            <form class="input-group">
                <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search Pokemon" aria-label="Search">
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
            
            <div class="error" style="display: none;"></div>
        </div>
    </div>

    {{!-- Search results --}}
    <div class="row searchResults" style="display: none;">
        
    </div>
</div>

{{!-- jQuery Link --}}
<script src="https://code.jquery.com/jquery.js"></script>

{{!-- js link --}}
<script src="/js/index.js"></script>