<div class="container-xl">
    <div class="row">
        {{!-- View All Pokemon --}}
        <div class="col-lg-4">
            <img src="https://lh3.googleusercontent.com/proxy/xJJ3kA-P5FLx5K_jUSs0a3kZqxSQZHElCNEgWk47CRkJtMJ3OVJrUh6s62WwB8czY8dT797JuWZ5ZHSSf5812bNtk_Dps1ZJ5cfhxgJIb-UCV3N7Oi6EWnlI0l-_" alt="Picture of Pikachu" style="width: 100%;">
            <button class="viewAll"><img src="https://fontmeme.com/permalink/200609/24651f551b2d7ccbdf4e4870d65addf8.png" alt="View All Pokemon"></button>
        </div>

        {{!-- View Your Pokemon --}}
        <div class="col-lg-4">
            <img src="../img/charamander.png" alt="Picture of 16bit Charamander" style="width: 250px;">
            <button class="viewYour"><img src="https://fontmeme.com/permalink/200609/601bb16457dccc48adea63f0b085642f.png" alt="View All Pokemon"></button>
        </div>

        {{!-- Create New Pokemon --}}
        <div class="col-lg-4">
            <img src="../img/vaporeon.png" alt="Placeholder" style="width: 255px;">
            <button class="createNew"><img src="https://fontmeme.com/permalink/200609/19009cd56471c1fb6dca8a22aa54a497.png" alt="View All Pokemon"></button>
        </div>
    </div>
</div>