<div class="container-xl">
    <div class="row">
        {{!-- View All Pokemon --}}
        <div class="col-lg-4">
            <img src="https://lh3.googleusercontent.com/proxy/v3j4eFFcZK__jL_MvWb_1ZY8Z9hJdSKtyFvX9bQ7RsjH7K6jBLJXDfGzvln_6c68K92F23BtWseQgeqCc23Np331IlKOacO0V5hCyxAgBJn7hlYtuCQJ4hS4JVd3" alt="Picture of Pikachu" style="width: 100%;">
            <button class="viewAll"><img src="https://fontmeme.com/permalink/200609/24651f551b2d7ccbdf4e4870d65addf8.png" alt="View All Pokemon"></button>
        </div>

        {{!-- View Your Pokemon --}}
        <div class="col-lg-4">
            <img src="../img/charamander.png" alt="Picture of 16bit Charamander" style="width: 250px;">
            <button class="viewYour"><img src="https://fontmeme.com/permalink/200609/601bb16457dccc48adea63f0b085642f.png" alt="View All Pokemon"></button>
        </div>

        {{!-- Create New Pokemon --}}
        <div class="col-lg-4">
            <img src="../img/vaporeon.png" alt="Placeholder" style="width: 255px;">
            <button class="createNew"><img src="https://fontmeme.com/permalink/200609/19009cd56471c1fb6dca8a22aa54a497.png" alt="View All Pokemon"></button>
        </div>
    </div>

    {{!-- Search row --}}
    <div class="row searchRow">
        <div class="col-lg-12">
            <img src="https://fontmeme.com/permalink/200611/65ca505017db3f3ecf7d7fcd3f743e02.png" alt="Search for Pokemon" class="searchFor">

            <form class="input-group">
                <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search Pokemon" aria-label="Search">
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>