<h2>Choose Grid Size</h2>
<form id="sizePicker">
    Grid Height:
    <input type="number" id="inputHeight" name="height" min="16" max="32" value="32">
    Grid Width:
    <input type="number" id="inputWidth" name="width" min="16" max="32" value="32">
    <input type="submit">
</form>
<div>
    <h3>Tools</h3>
    <p>Select a Color
        <input type="color" id="colorPicker">
    </p>

    <input type="submit" id="removeGrid" value="Remove Grid">
    <br>
    <input type="submit" id="returnGrid" value="Restore Grid">

</div>




{{!-- jQuery Link --}}
<script src="https://code.jquery.com/jquery.js"></script>
{{!-- js link --}}
<script src="/js/pixel.js"></script>