<div class="container">
    <div class="row">
        <img src="https://fontmeme.com/permalink/200618/d4fae3a410b9d4dcab40388d15b408e6.png" alt="Sign up for Poke-Build logo" class="signUpLogo">
    </div>
</div>