<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="https://fontmeme.com/permalink/200611/5cb3ac30028fbdf2a0ac059f87f553e3.png" alt="" style="display: block; margin: 0 auto 30px auto">

            <div class="card">
                <div class="card-body">
                    {{!-- Pokemon img --}}
                    <div>
                        <img src="/img/vaporeon.png" alt="" class="pokemonImg">
                    </div>

                    <div class="pokemonText">
                        <p>Name: <span class="name">Vaporeon</span></p>
                        <p>Type: <span class="type">Water</span></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {{!-- Pokemon img --}}
                    <div>
                        <img src="/img/charamander.png" alt="" class="pokemonImg">
                    </div>

                    <div class="pokemonText">
                        <p>Name: <span class="name">Charamander</span></p>
                        <p>Type: <span class="type">Fire</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>