html {
    height: 100%;
}

td, tr, table {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
     user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

p {
    font-size: 20px;
}

/* Got this simple loader from w3Schools  https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    border: 16px solid lightgray;
    border-radius: 50%;
    border-top: 16px solid rgb(255, 35, 35);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#letsBattleImg {
    display: block;
    margin: 0 auto 50px auto;
}

.vsRow {
    display: block;
    text-align: center;
}

.vsImg {
    margin: 0 100px;
}

.vsPic1, .vsPic2 {
    border: 5px solid;
    border-radius: 1rem;
    height: 160px;
    width: 160px;
    padding: 10px;
    box-shadow: 5px 7px 8px -3px #444;
}

/* Navbar styling */

.navbar {
    background-color: rgb(255, 35, 35) !important;
    height: 100px;
    border-bottom: 2px solid black;
    box-shadow: 2px 5px 8px -3px #444
}

.signIn {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    outline: none;
    padding-bottom: 5px;
}

.signIn:hover {
    color: white;
}

.userNameText {
    margin-right: 15px;
    font-size: 20px;
}

.userBtn {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border: 3px solid;
    border-radius: 1rem;
}

.dropdown-divider {
    border-top: 1px solid #444;
}

/* Modal styling */
.modalLogo, .signUpLogo, .logInLogo, .modalBody, .loader {
    display: block;
    margin: 0 auto;
}

.modalImg {
    width: 100%;
    border: 5px solid;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 7px -4px #444;
}

.modalText {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    line-height: 2.3em;
    text-align: center;
    margin: 10px 15px 20px 15px;
}

/* Main index page styling */

.resultImg,
.pokemonImg,
.battleImg1,
.battleImg2 {
    image-rendering: pixelated;
}

.searchFor {
    display: block;
    margin: 25px auto 40px auto;
}

.searchBar, #fname {
    box-shadow: 0px 6px 10px -3px #444;
    border: 2px black solid;
    border-radius: 50rem !important;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    padding: 25px 15px;
}

.searchBtn {
    background-color: transparent;
    border: none;
    color: rgb(255, 35, 35);
    outline: none;
}

.searchBtn:focus, .signIn:focus, .nextBtn:focus, .battleBtn:focus, .doneBtn:focus, .noBtn:focus, .yesBtn:focus, .goToNextBtn:focus, .goToPrevBtn:focus {
    outline: none;
}

.input-group {
    margin-bottom: 70px;
}

.error {
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-right: 50px;
    text-align: center;
}

.current {
    margin-bottom: 200px;
}

/* Font Awesome icon */
.fas {
    font-size: 35px;
}

.trash {
    font-size: 40px;
    float: right;
    color: rgb(255, 35, 35);
}

.container-xl {
    margin-top: 60px;
}

.container {
    margin-top: 50px;
}

.viewAll, 
.viewYour, 
.createNew, 
.nextBtn, 
#toggle, 
.dropdown-toggle, 
#statSubmit, 
.battleBtn, 
.goBackBtn, 
.doneBtn,
.noBtn,
.yesBtn,
.signUpBtn,
.logInBtn,
.goToNextBtn,
.goToPrevBtn {
    background-color: rgb(255, 33, 35);
    border: 2px solid black;
    border-radius: 1rem;
    margin: 20px auto 0 auto;
    outline:none;
    padding: 10px 25px;
}

.noBtn {
    margin-right: 20px;
}

.yesBtn {
    margin-left: 20px;
}

.goToNextBtn, .goToPrevBtn {
    display: block;
    margin: 30px auto;
}

.viewAll:hover, 
.viewYour:hover, 
.createNew:hover, 
.nextBtn:hover, 
#toggle:hover, 
#statSubmit:hover, 
.goBackBtn:hover, 
.doneBtn:hover,
.noBtn:hover,
.yesBtn:hover,
.signUpBtn:hover,
.logInBtn:hover,
.goToNextBtn:hover,
.goToPrevBtn:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
}

.dropdown-toggle:hover, .doneBtn:hover, .noBtn:hover, .yesBtn:hover, .yesBtn:focus {
    background-color: rgb(255, 35, 35);
}

.battleBtn {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.battleBtn2 {
    width: 44%;
    margin: 29px 0 0 0;
}

.goBackBtn {
    width: 100%;
}

.battleBtn:hover:enabled {
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
}

.buttonRow {
    border: 5px solid rgb(255, 35, 35);
    border-radius: 1rem;
    box-shadow: 2px 5px 13px -2px black;
    margin-bottom: 50px;
    padding: 15px;
}

.indexImg {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}


/* Styling for viewing own pokemon */

.pokemonImg {
    border: 3px solid black;
    border-radius: 1rem;
    box-shadow: 2px 5px 8px -3px #444;
    float: left;
    margin-right: 50px;
    padding: 15px;
    width: 50%;
}

.pokemonText, .creatorName {
    font-family: 'Press Start 2P', cursive;
}

.creatorName {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.pokemonBtnRow {
    margin: 0 180px 80px 180px;
}

.card {
    border: 5px solid rgb(255, 35, 35);
    border-radius: 1rem;
    box-shadow: 3px 5px 9px 0px black;
    margin: 0 auto 50px auto;
    width: 86%;
}

.resultCard {
    width: 100%;
}

.resultText {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.resultImg {
    display: block;
    margin: 0 auto 15px auto;
    height: 160px;
    width: 160px;
}

.pokemonBtn {
    background-color: transparent;
    outline: none;
    width: 100%;
}

/* Styling for sign up page and the login page */
.signUpForm, .logInForm {
    border: 5px solid rgb(255, 35, 35);
    border-radius: 1rem;
    box-shadow: 2px 5px 13px -2px black;
    display: block;
    margin: 70px auto;
    padding: 30px;
}

#signUpUsername, 
#signUpPassword,
#logInUsername,
#logInPassword,
#reEnterPassword {
    border: 2px solid;
}

#reEnterPassword {
    margin-top: 20px;
}

.signUpBtn, .logInBtn {
    float: right;
}

.loginText, .signUpText {
    text-align: center;
}

.loginLink, .loginLink:hover, .signUpLink, .signUpLink:hover {
    color: rgb(0, 123, 255);
}


/* Footers */

footer {
    border-top: 2px solid black;
    padding-top: 15px;
    background-color: rgb(255, 35, 35);
    box-shadow: 2px -3px 8px -3px #444;
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    height: 4.6rem;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.hide {
    display: none;
}

/* stuff for the pixel art maker  */

.namePokemonImg, .drawPokemonImg, .chooseTypeImg, .chooseStatsImg {
    display: block;
    margin: 35px auto 25px auto;
}

#nameInputDiv {
    text-align: center;
}

#fname {
    height: 25px;
    width: 70%;
    margin-bottom: 35px;
    transition: ease-out 0.2s;
}

#fname:focus {
    transition: ease-in 0.2s;
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.nextBtn {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.tools, .chooseType, .statsRow, .moveRow {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

#pokeStats {
    display: inline-flex;
    flex-direction: column;
}

.statsRow {
    border: 5px solid rgb(255, 35, 35);
    border-radius: 1rem;
    box-shadow: 0px 6px 10px -3px #444;
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: 25px;
}

#statSubmit, .moveRow {
    display: block;
    margin: 30px auto;
}

label input {
    border: 3px solid rgb(255, 35, 35);
    height: 40px;
    width: 80px;
    border-radius: 5rem;
    padding: 12px;
}

label input:focus {
    outline: none;
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-menu {         
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#colorPicker {
    box-shadow: 0px 2px 10px 0px #444;
    border-radius: 1rem;
    height: 20px;
    width: 45px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;	
}

#colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 1rem;
}

#toggle {
    color: white;
    margin-left: 30px;
}

#toggle:active {
    transform: scale(0.95);
}

.dropdown-div {
    margin-bottom: 35px;
}

table,tr,td {
    border: 1px solid rgb(100, 100, 100);
    background-color: white;
}
/* used to remove the grid  */
.opacity{
    border: 1px solid rgba(100, 100, 100, 0);
}

table {
    border-collapse: collapse;
    border: 5px solid;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 2px 5px 8px -3px #444
}

tr {
    height: 20px;
}

td {
    width: 20px;
    height: 20px;
}

/* Drop down stuff from w3 schools since I am lazy */

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* End of crap for the pokemon creator  */

 #battle-canvas {
    max-width: 800px;
    max-height: 600px;
    margin: auto;
} 
